.silencio-btn {
  color: rgb(83, 100, 113);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.silencio-btn:hover {
  color: rgb(29, 155, 240);
}

.silencio-btn svg {
  width: 1.25em;
  height: 1.25em;
  fill: currentcolor;
}

@media (prefers-color-scheme: dark) {
  .silencio-btn {
    color: rgb(113, 118, 123);
  }
}
